{% extends 'base.html.twig' %}

{% block title %}
    My Controller
{% endblock %}

{% block body %}


    <div class="container">
    <h2>List of articles</h2>
    <div style="margin: 10px 0">
    {% for category in categories %}
        <a href="{{path('index_by_category', {'id': category.id})}}"><span class="badge bg-secondary">{{category.name}}</span></a>
    {% endfor %}
    </div>
    <div class="row">
    {% for post in posts %}
    <div class="col-4">
    <div class="card mb-3">
  <h3 class="card-header"><a href="/post/{{post.id}}">{{post.title}}</a></h3>
  <img src="{{post.image}}" />
  <div class="card-body">
    {{post.description | slice(0, 100)}} ...
  </div>
  <div class="card-footer text-muted">
    {{post.createdAt | date('Y-m-d H:i:s')}}
  </div>
  </div>
</div>
    {% endfor %}
    </div>
    </div>
{% endblock %}